@use "tailwindcss";
@use 'ngx-toastr/toastr' as toastr;

@use '@angular/material' as mat;
@include mat.core();

@import "leaflet/dist/leaflet.css";


// palette arancione personalizzata
$orange-primary: (
  50: #fff3e0,
  100: #ffe0b2,
  200: #ffcc80,
  300: #ffb74d,
  400: #ffa726,
  500: #ff9800,
  600: #fb8c00,
  700: #f57c00,
  800: #ef6c00,
  900: #e65100,
  A100: #ffd180,
  A200: #ffab40,
  A400: #ff9100,
  A700: #ff6d00,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  )
);

$orange-secondary: (
  50: #fff8e1,
  100: #ffecb3,
  200: #ffe082,
  300: #ffd54f,
  400: #ffca28,
  500: #ffc107,
  600: #ffb300,
  700: #ffa000,
  800: #ff8f00,
  900: #ff6f00,
  A100: #ffe57f,
  A200: #ffd740,
  A400: #ffc400,
  A700: #ffab00,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #000,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  )
);

html {
  color-scheme: light;
  @include mat.theme((
    color: (
      theme-type: light, 
      primary: $orange-primary, 
      secondary: $orange-secondary 
    ),
    density: 0,
    tipography: Roboto
  ));
}

body.dark-mode {
  color-scheme: dark;
  @include mat.theme((
    color: ( 
      theme-type: dark,
      primary: $orange-primary, 
      secondary: $orange-secondary 
    ),
    density: 0,
    typography: Roboto
  ));
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }